*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Montserrat;
}

html, body {
    height: 100%;
    width: 100%;
}
main{
  width: 100%;
  height:100%;

}

.nav{
        padding:  0 40px;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

}
.nav-part1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
}

.gola{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #0a0909;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       
}

.nav-part2{
        display: flex;
       align-items:center ;
       justify-content: center;
       gap: 30px;
}

.nav-part2 h4{
        margin:  0, 76px;
        font-weight: 700;
        font-size: 16px;

}

.nav-part2 span{
        margin-left: 7px;
        color: rgb(134, 135, 135);
}

 .nav2{ display: flex;
        align-items: center;
       gap: 70px;
        width: 100%;
        height: 80px;
        padding: 5px 40px;
        

}

.nav2 h3{
        font-size: 21px;
        font-weight: 700;
}


.content{
width: 100%;
height: calc(100% - 160px);

}

.text-content{
display: flex;
        width: 100%;
        height: 40%;
        
        overflow-x: auto;

}


.text-content::-webkit-scrollbar{
        
        height: 8px;
        background-color: transparent;
}

.text-content::-webkit-scrollbar-thumb{
        background-color: #e68a00;
        
}

.elem{
        flex-shrink: 0;
    height: 100%;
    width:50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.elem h1{
        font-size: 100px;
        font-weight: 300;
        padding: 20px 20px;
}


.elem h1:hover{
        text-decoration: 2px underline;
}

.image-content{
        width: 100%;
        height: 60%;
        background-color: aquamarine;
        display: flex;
        overflow-x: auto;

}

.image-content img{
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
}